@import '../../../styles/variables';

.filterPanel {
	width: 100%;
	&__filters {
		display: flex;
	}
	&__sort {
		position: relative;
		max-width: 255px;
	}
	&__filter:nth-child(2) {
		margin-left: 14px;
		height: 44px;
	}
	&__options {
		margin: 6px 20px 0;
	}
}

.filter {
	border-radius: 8px;
	user-select: none;
	&::before {
		@include flex-grid(flex, null, center, center);
		font-size: 1.2em;
		padding: 2px 12px 0 0;
	}
	&__clear {
		height: 44px;
		@include borderStyle(1px solid $fillBlueDark, 8px);
		background: $fillBlueDark;
		color: $iconWhite;
		margin-left: -12px;
		padding: 0 26px 0 8px;
	}
}

.sort {
	display: flex;
	&:hover .sort__button,
	&:hover .sort__dropDownMenu {
		color: $textBlue;
		border: 1px solid $strokeBlue;
	}
	.sort &__button {
		border-radius: 8px 0 0 8px;
		height: 44px;
		&::before {
			rotate: 180deg;
		}
		&::after, &::before {
			font-size: .8em;
		}
	}
	.sort &__dropDownMenu {
		height: 44px;
		border-radius: 0 8px 8px 0;
		position: relative;
		padding-right: 56px;
		user-select: none;
		&::before {
			rotate: 180deg;
		}
		&::after, &::before {
			position: absolute;
			right: 26px;
			font-size: 12px;
		}
	}
	.sort &__clear {
		position: absolute;
		font-size: 12px;
		right: 20px;
		top: 11px;
		padding: 5px 5px 3px;
		border: none;
		background-color: $fillBlueDark;
		color: $strokeWhite;
		cursor: pointer;
		z-index: 10;
	}
}

.filterPanel .active,
.filterPanel .active:hover {
	color: $textWhite;
	border: $strokeWhite;
	background-color: $fillBlueDark;
}

.sort_active {
	border-radius: 9px;
	&:hover .sort__button,
	&:hover .sort__dropDownMenu,
	.sort__button,
	.sort__dropDownMenu {
		color: $textWhite;
		border: 1px solid $strokeWhite;
		background-color: $fillBlueDark;
	}
}

.sortList {
	position: absolute;
	right: 0;
	top: 50px;
	width: 100%;
	z-index: 3;
	height: 100%;
	border: none;
}
