@import '../../../styles/variables';

.checkbox{
	@include width-height(100%, 24px);
	@include flex-grid(flex, null, center, center);
	&__input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	&__label {
		width: 100%;
	}
	&__input + &__label {
		@include flex-grid(flex, null, null, center);
		cursor: pointer;
		// user-select: none;
	}
	&__label::before {
		content: '';
		@include width-height(16px);
		@include borderStyle(1px solid $strokeDark, 2px);
		margin: 0 16px;
	}
	&__input:not(:checked) + &__label:hover::before {
		border-color: $strokeBlue;
		transition: .2s;
	}
	&__input:checked + &__label::before {
		content:"\2713";
		color: $strokeBlue;
		border-color: $strokeBlue;
		@include flex-grid(flex, null, center, center);
	}
}