@import '../../styles/variables';

.filterButton {
	display: flex;
	align-items: center;
	height: fit-content;
	background-color: $fillWhite;
	border: 1px solid $strokeInitial;
	border-radius: 8px;
	padding: 10px 20px 10px 20px;
	cursor: pointer;
	white-space: nowrap;
	@extend %textSize_Button2;
	&:hover {
		color: $textBlue;
		border: 1px solid $strokeBlue;
	}
}
