@import '../../styles/variables';

.user {
	display: flex;
	&__photo {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		margin-right: 18px;
	}
	&__name {
		@extend %textSize_subtitle1;
	}
	&__role {
		@extend %textSize_caption;
	}
}
