@import '../../styles/variables';

.table {
	// position: relative;
	background-color: $fillWhite;
	box-shadow: $shadowMainArea;
	border-radius: 16px 16px 0 0;
	width: 100%;
	height: 100%;
	&__head{
		border-bottom: 1.33px solid $strokeInitial;
		display: block;
		height: 69px;
		padding-right: 10px;
		// position: sticky;
		// top: 209px;
		// background: $fillWhite;
		// z-index: 10;
	}
	&__films {
		@include flex-grid(grid, null, center, center);
		grid-template-columns: .1fr 2.5fr 2.5fr 1.8fr 1.8fr 1.5fr 1.1fr 1.1fr .8fr 1.7fr 50px;
		grid-template-rows: auto;
		text-align: left;
		gap: 24px;
		&>.table__column:nth-last-child(2),
		&>.table__column_head:nth-last-child(2){
			text-align: center;
		}
	}
	&__cinema {
		@include flex-grid(grid, null, center, center);
		grid-template-columns: .3fr 2.2fr 2.5fr 4fr 3.8fr 3.5fr 50px;
		grid-template-rows: auto;
		text-align: left;
		gap: 40px;
	}
	&__franchisee {
		@include flex-grid(grid, null, start, center);
		// min-width: 2500px;
		grid-template-columns: .2fr 1fr 2.4fr 1.9fr 1.7fr 1.5fr 4.1fr 50px;
		text-align: left;
		gap: 40px;
	}
	&__column {
		@include textStyle(body, $textDark);
		// white-space: wrap;
		&_head {
			@include textStyle(subtitle1, $textDark);
		}
		&:nth-last-child(1){
			position: relative;
		}
	}
	&__body {
		@include flex-grid(flex, column, null, start);
		background-color: $fillWhite;
		height: calc(100% - 68px);
		// max-height: 100%;
		// min-height: 150px;
		row-gap: 20px;
		overflow-y: scroll;
		&::-webkit-scrollbar {
			// width: 0;
			width: 10px;
			border-radius: 5px;
		}
		&::-webkit-scrollbar-track {
			border-radius: 16px;
			background-color: $fillWhite;
		}
		&::-webkit-scrollbar-thumb {
			background: $strokeInitial;
			border-radius: 5px;
			border: 2px solid $fillWhite;
		}
		scrollbar-width: thin;
		scrollbar-color: $strokeInitial $fillWhite;
	}
	&__row {
		@include flex-grid(grid, null, center, center);
		@include textStyle(body, $textDark);
		height: fit-content;
		width: 100%;
		position: relative;
		&:nth-child(1) {
			margin-top: 20px;
		}
		&:last-child {
			margin-bottom: 20px;
		}
		&_head {
			height: 100%;
		}
	}
	&__image {
		@include width-height(148px);
		object-fit: cover;
		border-radius: 16px;
	}
	&__menu {
		background: none;
		border: none;
		padding: 0 10px;
		cursor: pointer;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
.loading {
	position: absolute;
	animation: spin 2s linear infinite;
	width: 100px;
	margin: auto;
	top: 200px;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10;
}
