@import '../../styles/variables';

.form {
	// position: relative;
	display: flex;
	flex-direction: column;
	max-height: 694px;
	height: 100%;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 12px;
	}
	&::-webkit-scrollbar-thumb {
		background: $strokeInitial;
		border-radius: 1px;
		border-left: 4px solid $fillWhite;
	}
	&__item {
		@include borderStyle(1.5px solid $strokeInitial, 8px);
		@include textStyle(caption2, $textDark);
		@include width-height(100%, 50px);
		position: relative;
		display: flex;
		padding: 12px;
		margin-bottom: 24px;
		&:hover, &:focus-within,
		&:hover .form__clear,
		&:focus-within .form__clear {
			border-color: $strokeBlue;
			color: $iconBlue;
		}
	}
	&__subtitle {
		margin-bottom: 24px;
	}
	&__select {
		height: 50px;
		margin-bottom: 24px;
		// @include borderStyle(1.5px solid #00000000, 8px);
		&>div {
			@include textStyle(caption2, $textDark);
		}
	}
	&__input {
		@include textStyle(caption2, $textDark);
		@include width-height(100%, 24px);
		display: flex;
		border: none;
		&::placeholder, &>input::placeholder {
			@include textStyle(caption2, $textDark);
		}
	}
	&__clear {
		@include flex-grid(flex, null, center, center);
		padding: 6px 12px;
		border: none;
		background: none;
		cursor: pointer;
	}
	&__button {
		position: absolute;
		display: flex;
		justify-content: center;
		white-space: nowrap;
		bottom: 60px;
		left: 0;
		right: 0;
		padding: 12px 25px;
		margin: auto 34%;
	}
	&__error {
		border-color: $strokeRed;
		& .form__clear,
		// & .form__select>div:hover,
		&:hover .form__clear  {
			color: $strokeRed;
		}
		&:hover, &:focus-within {
			border-color: $strokeRed;
		}
		&_message {
			@include textStyle(caption1, $strokeRed);
			margin-top: -22px;
			margin-bottom: 4px;
		}
	}
	&__poster {
		margin-bottom: 40px;
	}
	&__filmFields {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, max(50px));
		grid-column-gap: 24px;
		grid-row-gap: 24px;
		grid-template-areas:
			'title title'

			'studio studio'
			'genre genre'
			'lang age'
			'time year';
		z-index: 1;
	}
	&__filmField {
		&:nth-of-type(1){
			grid-area: title;
		}
		&:nth-child(2){
			grid-area: studio;
			z-index: 12;
		}
		&:nth-child(3){
			grid-area: genre;
			z-index: 11;
			height: 50px;
		}
		&:nth-child(4){
			grid-area: lang;
			height: 50px;
		}
		&:nth-child(5){
			grid-area: age;
		}
		&:nth-child(6){
			grid-area: time;
		}
		&:nth-child(7){
			grid-area: year;
		}
	}
}

.poster{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 265px;
	width: 100%;
	// gap: 60px;
	position: relative;
	&__upload {
		font-size: 6.25em;
		height: 265px;
		width: 265px;
	}
	&__change, &__delete {
		font-size: 1.1em;
		height: 61px;
		width: 61px;
	}
	&__change, &__upload, &__delete {
		border: 1.5px solid $strokeInitial;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		position: relative;
		&:hover {
			border: 1.5px solid $strokeBlue;
			color: $strokeBlue
		}
	}
	&__description {
		@extend %textSize_caption1;
		text-align: center;
	}
	&__input {
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 50%;
		opacity: 0;
	}
	&__preview {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
}
