@font-face {
  font-family: 'iconsFont';
  src:
    url('./fonts/icons.ttf?um84e8') format('truetype'),
    url('./fonts/icons.woff?um84e8') format('woff'),
    url('./fonts/icons.svg?um84e8#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"]::before, [class*=" icon_"]::before,
[class^="icon_"]::after, [class*=" icon_"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsFont';
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_sidebar_menu:before {
  content: "\e901";
}
.icon_profile_nophoto:before {
  content: "\e902";
}
.icon_film_catalog:before {
  content: "\e903";
}
.icon_cinema_catalog:before {
  content: "\e904";
}
.icon_usermenu_settings:before {
  content: "\e905";
}
.icon_usermenu_out:before {
  content: "\e906";
}
.icon_add:before {
  content: "\e900";
}
.icon_arrow_down:before {
  content: "\e907";
}
.icon_arrow_down_after:after {
  content: "\e907";
}
.icon_filter:before {
  content: "\e908";
}
.icon_sort:before {
  content: "\e909";
}
.icon_sort_after:after {
  content: "\e909";
}
.icon_close:before {
  content: "\e90a";
}
