//colors
$blue: #10A5FF;
$dark: #313131;
$white: #FCFCFC;
$green: #04C35C;
$lightBlue: #EFF5FF;
$red: #CB3C3C;
$unactive: #A7A7A7;
$background: #EFF5FF;

//text colors
$textGrey: #474747;
$textDark: #313131;
$textBlue: #10A5FF;
$textWhite: #FFFFFF;

//stroke colors (input, button, focus, hover)
$strokeInitial: #D6E0F3;
$strokeBlue: #10A5FF;
$strokeWhite: #FFFFFF;
$strokeDark: #313131;

//fill colors
$fillWhite: #FFFFFF;
$fillBlueLight: #EFF5FF;
$fillBlue: #10A5FF;
$fillBlueDark: #0077BF;
$fillDisabled: #A7A7A7;

//shadow
$shadowSidebar: 2px 0px 24px rgba(0, 0, 0, 0.08);
$shadowTable: 2px 7px 24px rgba(0, 0, 0, 0.04);

@mixin textSize ($size, $lineHeight, $fontWeight){
	font-size: $size;
	line-height: $lineHeight;
	font-weight: $fontWeight;
}

%textSize_Body, %textSize_Table, %textSize_Button1 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}
%textSize_Button2 {
	font-size: 15px;
	line-height: 22.5px;
	font-weight: 500;
}
%textSize_caption {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: $textGrey;
}
%textSize_subtitle3 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}
%textSize_subtitle2 {
	font-size: 17px;
	line-height: 25.5px;
	font-weight: 500;
}
%textSize_subtitle1 {
	font-size: 18px;
	line-height: 27px;
	font-weight: 500;
}
%textSize_title {
	font-size: 28px;
	line-height: 42px;
	font-weight: 600;
}
