@import '../styles/variables';

.content {
	@include width-height(83.125%, 100vh);
	min-width: 975px;
	&__container {
		position: relative;
		@include flex-grid(flex, column, null, center);
		padding: 0 20px;
		position: relative;
	}
	&__header {
		padding: 42px 96px 24px;
	}
	&__filterPanel {
		width: 100%;
		display: grid;
		@include flex-grid(grid, null, start, stretch);
		grid-template-columns: 76px 5fr 254px 76px;
		grid-template-rows: 48px;
		grid-template-areas:
			' .	filters button	. '
			'option option option option';
		padding: 36px 20px 20px;
	}
	&__filters {
		grid-area: filters;
		@include flex-grid(grid, null, start, center);
	}
	&__addButton {
		grid-area: button;
		padding: 12px 24px;
	}
	&__options {
		grid-area: option;
		margin-top: 6px;
	}
	&__tableBlock {
		flex: 1 1 auto;
		width: 100%;
		position: relative;
		padding: 0 20px;
	}
	&__handbooks {
		position: relative;
	}
	&__addWindow {
		position: absolute;
	}
	&__hr {
		width: 100%;
		border: .01px solid $strokeInitial;
		margin: 0 0 36px;
	}
}
