@import '../styles/reset.scss';
@import '../styles/variables';
@import '../styles/iconsFont';

@font-face {
	font-family: 'Manrope';
	src: url(../styles/fonts/Manrope-VariableFont_wght.ttf);
}

* {
	font-family: 'Manrope', Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
	display: flex;
	justify-content: space-between;
}

body {
	background: $background;
}

.hidden {
	display: none;
}