@import '../../../styles/variables';

.field{
	@include width-height(100%);
	position: relative;
	&__clearButton {
		font-size: 12px;
		padding: 12px;
		border: none;
		background: none;
		cursor: pointer;
	}
	&__label {
		display: block;
		width: 100%;
		@include textStyle(caption3, $textGrey);
		margin-bottom: 4px;
	}
	&__box {
		width: 100%;
		height: 50px;
		background-color: $strokeWhite;
		@include flex-grid(flex, null, null, center);
		@include borderStyle(1.5px solid $strokeInitial, 8px);
		padding: 12px;
		&:hover, &:focus-within {
			border-color: $strokeBlue;
			.inputField__clearButton {
				color: $iconBlue;
			}
		}
		&:focus-within .inputField__clearButton {
			color: $iconBlue;
		}
		&_error {
			border-color: $strokeRed;
			&:hover, &:focus-within {
				border-color: $strokeRed;
				.inputField__clearButton {
					color: $iconRed;
				}
			}
			&:focus-within .inputField__clearButton {
				color: $iconRed;
			}
		}
	}
	&__input {
		@include textStyle(caption2, $textGrey);
		outline: none;
		border: none;
		width: 100%;
		cursor: text;
		&:disabled{
			background: $fillWhite;
		}
		&::placeholder{
			color: $textGrey;
		}
	}
	&__password {
		background-color: $fillWhite;
		padding: 12px;
		&::before {
			color: $iconUnactive;
		}
		&_show {
			&::before {
				color: $iconDark;
			}
		}
	}
}