@import '../../styles/variables';

.table_container {
	width: calc(100% - 40px);
	margin-top: 20px;
	border-radius: 16px 16px 0px 0px;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.table {
	position: relative;
	background-color: white;
	box-shadow: $shadowTable;
	// width: 100%;
	&__head{
		background: white;
		border-bottom: 2px solid #D6E0F3;
		font-size: 18px;
		line-height: 27px;
		height: 70px;
	}
	thead>tr {
		display: grid;
		width: calc(100% - 40px);
		margin: 0 auto;
		padding-top: 17px;
		grid-template-columns: 2fr 2fr 1.5fr 1.5fr 1fr 1fr 1fr 0.5fr 1fr 1fr 0.7fr;
	}
	tbody>tr {
		display: grid;
		width: calc(100% - 40px);
		margin: 0 auto;
		grid-template-columns: 2fr 2fr 1.5fr 1.5fr 1fr 1fr 1fr 0.5fr 1fr 1fr 0.5fr;
		align-items: center;
	}
	td {
		padding-bottom: 10px;
	}
	td button {
		position: relative;
		background: none;
		border: none;
		cursor: pointer;
	}
	&__column {
		text-align: center;
		vertical-align: middle;
	}
	&__body {
		background-color: white;
		width: 100%;
		position: absolute;
		top: 70px;
		left: 0;
		overflow-y: auto;
		&::-webkit-scrollbar {
			width: 10px;
			border-radius: 5px;
		}
		&::-webkit-scrollbar-track {
			max-height: 100%;
			border-radius: 16px;
			background-color: white;
		}
		&::-webkit-scrollbar-thumb {
			background: rgb(195, 203, 216);
			border-radius: 5px;
			border: 2px solid white;
		}
	}
	// &__row {
		// text-align: center;
		// border-bottom: 1.33px solid #D6E0F3;
	// }
	&__image {
		object-fit: cover;
		width: 148px;
		height: 148px;
		margin-top: 25px;
		border-radius: 16px;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
.loading {
	animation: spin 2s linear infinite;
	width: 100px;
	align-self: center;
	margin-top: 200px;
}

// ::-webkit-scrollbar {
// 	width: 10px;
// 	border-radius: 5px;
// }

// ::-webkit-scrollbar-track {
// 	max-height: 100%;
// 	border-radius: 16px;
// 	background-color: white;
// }

// ::-webkit-scrollbar-thumb {
// 	background: rgb(195, 203, 216);
// 	border-radius: 5px;
// 	border: 2px solid white;
// }
