@import '../../../styles/variables';

.sidebar {
	width: 16.875%;
	min-width: 250px;
	&__container {
		background-color: $fillWhite;
		box-shadow: 2px 0 24px rgba(0, 0, 0, 0.08);
		height: 100vh;
		@include flex-grid(flex, column, null, null);
		padding: 42px 0;
	}
	&__menu {
		padding: 9px 28px;
	}
	&__user {
		margin: 60px 28px 43px;
	}
	&__tabs {
		flex: 1 1 auto;
	}
	// &__settings{
	// }
}

.user {
	display: flex;
	&__photo {
		@include width-height(44px);
		border-radius: 50%;
		margin-right: 18px;
	}
	&__name {
		@include textStyle(subtitle1, $textDark);
	}
	&__role {
		@include textStyle(caption1, $textGrey);
	}
}

// .tabs {
// 	&__list{
// 	}
// 	&__item{
// 	}
// }

// .sidebarMenu {
// 	@include flex-grid(flex, null, space-between, null);
// 	&__menu {
// 		padding: 4px;
// 		cursor: pointer;
// 		&:hover {
// 			color: $strokeBlue;
// 		}
// 	}
// }